<div class="container mt-4">
    <div class="card text-center">
        <div class="card-header">
          <img src="{{dto.picture}}" alt="" class="rounded-circle border border-dark" width="100px" height="100px">
        </div>
        <div class="card-body">
          <h5 class="card-title">One Tap Hello</h5>
          <p class="card-text">{{dto.message}}</p>
          <button class="btn btn-outline-primary" (click)="logOut()">Logout</button>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</div>
